recursive-include exhibition/exhibition/templates/ *.html
recursive-include exhibition/djangocms_exhibition/templates/ *.html
recursive-include exhibition/django_jigsaw_puzzle/templates/ *.html
graft exhibition/static/
