gunicorn

django-cms<=4
djangocms-admin-style
django-treebeard

djangocms-text-ckeditor
djangocms-link
djangocms-style
djangocms-googlemap
djangocms-snippet
djangocms-video
djangocms-file
djangocms-picture
djangocms-bootstrap4
easy_thumbnails
django-filer
Django
django-classy-tags
django-sekizai
django-mptt
html5lib
Pillow
six
pytz
qrcode
