gunicorn
django-cms<=4
django-treebeard
djangocms-admin-style
djangocms-text-ckeditor
djangocms-link
djangocms-style
djangocms-googlemap
djangocms-snippet
djangocms-video
djangocms-file
djangocms-picture
djangocms-bootstrap4
django-filer
django-classy-tags
django-sekizai
django-mptt
django-constance
easy_thumbnails
html5lib
Pillow
six
pytz
qrcode
