/* .MuiButton-root { */
/*     background-color: #ebbdcf; */
/*     color: black; */
/* } */

.quiz-button {
    background-image: url('/static/django_jigsaw_puzzle/images/button-answer.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.quiz-button.selected {
    background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg');
}

.quiz-button.correct {
    animation: anim-correct 0.34s 2;
}

.quiz-button.incorrect {
    animation: anim-incorrect 0.34s 2;
}

@keyframes anim-correct {
  0% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  50% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-correct.svg'); }
  100% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
}

@keyframes anim-incorrect {
  0% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  50% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-incorrect.svg'); }
  100% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
}

body {
    color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/static/django_jigsaw_puzzle/images/quiz_game_background.png');
}

.MuiContainer-root {
    margin-top: 10%;
    margin-bottom: 10%;
}

.MuiChartsAxis-root {
    color: white;
}
