.quiz-button {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.quiz-button.unselected {
    background-image: url('/static/django_jigsaw_puzzle/images/button-answer.svg');
}

.quiz-button.selected {
    background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg');
}

.quiz-button.unselected.correct {
    background-image: url('/static/django_jigsaw_puzzle/images/button-answer-correct.svg');
}

.quiz-button.selected.correct {
    animation: anim-correct-selected 0.7s 1 normal forwards;
}

.quiz-button.unselected.incorrect {
    background-image: url('/static/django_jigsaw_puzzle/images/button-answer-incorrect.svg');
}

.quiz-button.selected.incorrect {
    animation: anim-incorrect-selected 0.7s 1 normal forwards;
}


/* selected correct */
@keyframes anim-correct-selected {
  0% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  20% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected-correct.svg'); }
  40% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  60% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected-correct.svg'); }
  80% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  100% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected-correct.svg'); }
}

/* selected incorrect */
@keyframes anim-incorrect-selected {
  0% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  20% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected-incorrect.svg'); }
  40% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  60% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected-incorrect.svg'); }
  80% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected.svg'); }
  100% { background-image: url('/static/django_jigsaw_puzzle/images/button-answer-selected-incorrect.svg'); }
}

body {
    color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/static/django_jigsaw_puzzle/images/quiz_game_background.png');
}

.MuiContainer-root {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.App {
    height: 100%;
}

#game {
    height: 100%;
}
