{% load static %}
<html>
  <body style="margin: 0;">
    <div id="jigsaw-puzzle"
	 data-image-url="/games/image_set/1/?thumbnail_alias=thumbnail,puzzle"
	 data-title="Luxembourg City Museum - Puzzle Game"
	 data-logo-url="/media/filer_public/85/1e/851e2b33-e94b-44d1-b353-141f23e3c0d4/lcm.svg"
	 data-randomize-images="True"
	 data-idle-first-seconds="300"
	 data-idle-second-seconds="330"
	 data-copyright-notice="© Photos: Christof Weber pour Les 2 Musées de la Ville de Luxembourg"></div>
    <script src="{% static 'django_jigsaw_puzzle/js/bundle.js' %}"></script>
  </body>
</html>
