{% load static sekizai_tags %}
<div id="game"
     data-game-url="{{ game_url }}"
     data-title="{{ title }}"
     data-logo-url="{{ logo_url }}"
     data-randomize-images="{{ randomize_images }}"
     data-idle-first-seconds="{{ idle_first_seconds }}"
     data-idle-second-seconds="{{ idle_second_seconds }}"
     data-copyright-notice="{{ copyright_notice }}"
     data-navbar-background-color="{{ navbar_color }}"
     data-card-hidden-image-url="{{ card_hidden_image_url }}"
     data-card-back-image-url="{{ card_back_image_url }}"
     data-mode="{{ mode }}"></div>

{#% addtoblock 'css' %#}
<link rel="stylesheet" href="{% static 'django_jigsaw_puzzle/css/django_jigsaw_puzzle.css' %}">
{#% endaddtoblock %#}

{#% addtoblock 'js' %#}
<script src="{% static 'django_jigsaw_puzzle/js/bundle.js' %}"></script>
{#% endaddtoblock %#}
