{% load static %}

<!-- Modal for showing info or questions -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<form id="csrf-form" style="display: none;">
  {% csrf_token %}
</form>

<div id="game"
     data-game-url="{{ game_url }}"
     data-title="{{ title }}"
     data-logo-url="{{ logo_url }}"
     data-randomize-images="{{ randomize_images }}"
     data-idle-first-seconds="{{ idle_first_seconds }}"
     data-idle-second-seconds="{{ idle_second_seconds }}"
     data-copyright-notice="{{ copyright_notice }}"
     data-navbar-background-color="{{ navbar_color }}"
     data-card-hidden-image-url="{{ card_hidden_image_url }}"
     data-card-back-image-url="{{ card_back_image_url }}"
     data-aspect-ratio="{{ card_aspect_ratio }}"
     data-card-front-background-color="{{ card_front_background_color }}"
     data-card-width="{{ card_width }}"
     data-mode="{{ mode }}"></div>

<link rel="stylesheet" href="{% static 'django_jigsaw_puzzle/css/paint_game.css' %}">
<script src="{% static 'django_jigsaw_puzzle/js/bundle.js' %}"></script>

