{% load cms_tags easy_thumbnails_tags %}
<div class="card mb-3">
    <div class="row">
        <div class="col-sm p-0">
          <figure class="figure">
	    {% if instance.image %}
	    <img src="{% thumbnail instance.image 512x0 crop %}" />
	    {% else %}
                {% for plugin in instance.child_plugin_instances %}
                {% render_plugin plugin %}
                {% endfor %}
	    {% endif %}
            </figure>
        </div>

        <div class="col">
            {% if instance.author %}
            <div class="card-body">
                {% if instance.author %}
                <div class="card-title mb-0 display-6 fs-3">
                    {{ instance.author }}
                </div>
                {% endif %}

                {% if instance.date_author %}
                <div class="fst-italic mt-1">{{ instance.date_author }}</div>
                {% endif %}
            </div>

            <hr />
            {% endif %}

            <div class="card-body">
                <div class="card-text">
                    <div class="h5">{{ instance.info_object_fr|default:'' }}</div>
                    <div class="fw-light pb-4">{{ instance.date_object_fr|default:'' }}</div>
                    <div>{{ instance.comment_fr|default:'' }}</div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-text">
                    <div class="h5">{{ instance.info_object_de|default:'' }}</div>
                    <div class="fw-light pb-4">{{ instance.date_object_de|default:'' }}</div>
                    <div>{{ instance.comment_de|default:'' }}</div>
                </div>
            </div>

            <div class="card-body">
		<div class="card-text">
                    <div class="h5">{{ instance.info_object_en|default:'' }}</div>
                    <div class="fw-light pb-4">{{ instance.date_object_en|default:'' }}</div>
                    <div>{{ instance.comment_en|default:'' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
